input {
  file {
    type => "logback"
    path => "/grafana/logs/appointments_service.log"
    sincedb_path => "NUL"
    start_position => "beginning"
  }
}


output {
  elasticsearch {
    hosts => ["localhost:9200"]
	user => "elastic"
    password => "*****"
	index => "app-appointments_service-%{+YYYY.MM.dd}"
  }
}