input {
  file {
    type => "logback"
    path => "/grafana/logs/auth_service.log"
    sincedb_path => "NUL"
    start_position => "beginning"
  }
    
}


output {
  elasticsearch {
    hosts => ["localhost:9200"]
	user => "elastic"
    password => "******"
	index => "app-auth_service-%{+YYYY.MM.dd}"
  }
}